@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Light.eot');
    src: local('Gotham Pro Light'), local('GothamPro-Light'),
        url('../fonts/gotham/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/GothamPro-Light.woff') format('woff'),
        url('../fonts/gotham/GothamPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Beer money';
    src: url('../fonts/beermoney-400-normal.woff2') format('woff2'), url('../fonts/beermoney-400-normal.woff') format('woff'), url('../fonts/beermoney-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Gabriela');
@import url('https://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic-ext');

* {
    box-sizing: border-box;
    color: #000;
}

body {
    margin: 0;
    font-family: 'Gotham Pro','Beer money', 'Philosopher', sans-serif, 'Gabriela', serif, 'Lobster', cursive;
}

a {
    text-decoration: none;
}


.box {
    margin-top: 50px;
    margin-bottom: 66px;
    border-bottom: 1px solid #cdd1d0;
}

.box:last-of-type {
    border-bottom: none;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
    padding: 15px 15px 45px 15px;
}

.headText {
    width: 75%;
    margin-top: 10px;
    padding-left:  15px;
    padding-right:  15px;
    margin-left: auto;
    margin-right: auto;
}

.headText h1,h2,h3 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

.gridContainer {
    display: inline-block;
    vertical-align: top;
    width: 33.333333333333%;
}

.gridPropertis {
    display: block;
    padding: 15px 15px 45px 15px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.gridPropertis:hover {
    border: 1px solid #cdd1d0;
}

.content {
    font-size: 14px;
    margin-top: 20px;
}

.content p {
    margin-top: 26px;
    margin-bottom: 0;
}

.content span {
    font-size: 16px;
    border-bottom: 1px solid #d4d4d4;
    text-transform: uppercase;
}

.top .content span {
    text-transform: none;
}

.elements {
    padding-top: 76%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.middle .gridContainer {
    width: 50%;
}

.middle .gridPropertis:hover {
    border: 1px solid rgba(0, 0, 0, 0);
}

.bottom .gridContainer {
    width: 25%;
}

.bottom .gridPropertis:hover {
    border: 1px solid rgba(0, 0, 0, 0);
}

.bottom .content p {
    text-align: center;
}