@keyframes instagramHoverAnimation {
    0% {
        background: linear-gradient(45deg, #f9ed32, #ee2a7b, #002aff);
        -webkit-background-clip: text;
        color: transparent;
    }
    10% {
        background: linear-gradient(45deg, #ee2a7b, #002aff, #f9ed32);
        -webkit-background-clip: text;
        color: transparent;
    }

    20% {
        background: linear-gradient(45deg, #002aff, #f9ed32, #ee2a7b);
        -webkit-background-clip: text;
        color: transparent;
    }
    30% {
        background: linear-gradient(45deg, #f9ed32, #ee2a7b, #002aff);
        -webkit-background-clip: text;
        color: transparent;
    }
    40% {
        background: linear-gradient(45deg, #ee2a7b, #002aff, #f9ed32);
        -webkit-background-clip: text;
        color: transparent;
    }

    50% {
        background: linear-gradient(45deg, #002aff, #f9ed32, #ee2a7b);
        -webkit-background-clip: text;
        color: transparent;
    }

    60% {
        background: linear-gradient(45deg, #f9ed32, #ee2a7b, #002aff);
        -webkit-background-clip: text;
        color: transparent;
    }
    70% {
        background: linear-gradient(45deg, #ee2a7b, #002aff, #f9ed32);
        -webkit-background-clip: text;
        color: transparent;
    }

    80% {
        background: linear-gradient(45deg, #002aff, #f9ed32, #ee2a7b);
        -webkit-background-clip: text;
        color: transparent;
    }
    90% {
        background: linear-gradient(45deg, #f9ed32, #ee2a7b, #002aff);
        -webkit-background-clip: text;
        color: transparent;
    }
}



@font-face {
  font-family: 'commody-font';
  src:  url('../fonts/commody/commody-font.eot?d0ts2h');
  src:  url('../fonts/commody/commody-font.eot?d0ts2h#iefix') format('embedded-opentype'),
    url('../fonts/commody/commody-font.ttf?d0ts2h') format('truetype'),
    url('../fonts/commody/commody-font.woff?d0ts2h') format('woff'),
    url('../fonts/commody/commody-font.svg?d0ts2h#commody-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'commody-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-commody:before {
  content: "\e901";
}
.icon-hert:before {
  content: "\e902";
}
.icon-key:before {
  content: "\e903";
}
.icon-poccet:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e900";
}



@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Light.eot');
    src: local('Gotham Pro Light'), local('GothamPro-Light'),
    url('../fonts/gotham/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gotham/GothamPro-Light.woff') format('woff'),
    url('../fonts/gotham/GothamPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Beer money';
    src: url('../fonts/beermoney-400-normal.woff2') format('woff2'), url('../fonts/beermoney-400-normal.woff') format('woff'), url('../fonts/beermoney-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Gabriela');
@import url('https://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic-ext');










* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gotham Pro', 'Beer money', 'Philosopher', sans-serif, 'Gabriela', serif, 'Lobster', cursive;
}



a {
    text-decoration: none;
    color:#000;
}


a:hover {
    text-decoration: none;
    color:#000;
}


input {
    border: 0;
    padding: 0;
}

button {
    padding: 0;
    border: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.listReset {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}


.container::after {
    display: table;
    content: '';
    clear: both;
}


.box {
    margin-bottom: 66px;
    border-bottom: 1px solid #cdd1d0;
}

.box:last-of-type {
    border-bottom: none;
}


/*----------------------------------------------header-----------------------------------------------------------*/


.headerFerst { 
    background-color: #f0f0f0;
    font-size: 0;
    padding-top:  10px ; 
    padding-bottom: 10px ; 
} 




.headerFerst .headerRight li:first-of-type {
    padding-right: 5px;
}



.headerLeft,.headerRight  {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
}

.headerLeft li,.headerRight li{
 padding-right: 20px;
}

.headerLeft li:last-of-type,.headerRight li:last-of-type{
 padding-right: 0;
}


.headerLeft {
   margin-bottom: 20px;
   flex-basis:  70%;
}

.headerRight  {
    flex-basis:  30%;
}



.headerLeft li::first-letter {
    text-transform: capitalize;
}


.headerRight  li:nth-of-type(3),.headerRight li:nth-of-type(4)  {
    text-transform: uppercase;
}

.headerRight li::first-letter {
    text-transform: capitalize; 
}



.headerSecond {
    font-size: 0;
    padding-top:  22px;
    padding-bottom: 22px;
}


.icon-commody {
    font-size: 40px;
}

.headerLeft form {
   display: flex;
   flex-direction: row;
    align-items: center;
    flex-basis:  100%;
    font-size: 0;
}



.headerLeft input[type="search"]  {
    display: flex;
    align-items: center;
    flex-basis:  90%;
    justify-content: flex-start;
    border: 1px solid #cdd1d0;
    border-right: none;
    background-color: transparent;
    color: #000;
    padding: 0 8px;
    font-size: 16px;
    min-height: 30px;
}

.headerLeft input[type="search"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
}

.headerLeft input[type="search"]::-moz-placeholder { /* Firefox 19+ */
    color: #000;
}

.headerLeft input[type="search"]:-ms-input-placeholder { /* IE 10+ */
    color: #000;
}

.headerLeft input[type="search"]:-moz-placeholder { /* Firefox 18- */
    color: #000;
}

.headerLeft input[type="search"]::placeholder { 
    color: #000;
}


.headerLeft button[type="submit"] {
    display: flex;
    align-items: center;
    flex-basis: 10%;
    justify-content: flex-end;    
    border: 1px solid #cdd1d0;
    border-left:  none; 
    padding: 0 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    min-height: 30px;
}


.icon-poccet,.icon-hert {
    display: flex;
    align-items: center;    
    font-size: 25px;
}

.round {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -10px;
    right: 0;
    top: -3px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00bea5
}


.number
{
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto; 
    color: #fff;
    font-size: 11px;
}







.headerBottom {
    border-top: 1px solid #cdd1d0;
    padding-top: 15px;
    padding-bottom: 20px;
}


.gorizontalMenu ul {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.gorizontalMenu li {    
    margin-right: 10px;
}


.gorizontalMenu li:last-of-type {
    margin-right: 0;
}


.gorizontalMenu a {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    border-bottom:3px solid #fff;
}

.gorizontalMenu a:hover { 
        border-bottom:3px solid #00bea5;
    }


.gorizontalMenu a::first-letter {
    text-transform: capitalize;
}

/*-------------------------------------------------------------slider----------------------------------------------*/

.main-slider__img {
    min-height: 485px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}


/*----------------------------------------------------------------------grid------------------------------------------------------*/


.container {
    min-width: 320px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}



.headText h1,
h2,
h3 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}


.gridPropertis {
    display: block;
    padding: 15px;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid rgba(0, 0, 0, 0);
}

.gridPropertis:hover {
    border: 1px solid #cdd1d0;
}


.content {
    font-size: 14px;
}

.headText .content p {
padding-bottom: 40px;
}

.top .content p {
 text-align: center;
}

.middle .content p {
 padding-bottom: 18px;
}


.bottom .content p {
    padding-bottom: 14px;
    text-align: center;
}

.content span {
    font-size: 16px;
    border-bottom: 1px solid #d4d4d4;
    text-transform: uppercase;
}

.top .content span {
    text-transform: none;
}

 
.elements {
    padding-top: 70%;
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.middle .gridPropertis:hover {
    border: 1px solid rgba(0, 0, 0, 0);
}


.bottom .gridPropertis:hover {
    border: 1px solid rgba(0, 0, 0, 0);
}




/*------------------------------------footer-----------------------------------------------------------------------------*/


footer {
    padding-top: 1rem;
    padding-bottom: .5rem;
    background-color: #000;
}


.Block {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: 0;
    margin-bottom: 1.25rem;
}

.Block li::first-letter {
    text-transform: capitalize;
}

.Block a {
    color: #fff;
    font-size: .8rem;
    line-height: 1;
}


.footerCaption {
    padding-bottom: 2em;
}

.Block h5 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.footerPart {
    display: inline-block;
    vertical-align: top;
    min-width: 40%;
    padding-right: 1rem;
}


.footerPart  li {
  padding-bottom: 0.625rem;
}

.footerPart  li:last-of-type {
    padding-bottom: 0;
}

.footerPart a:hover {
  color: #7f7f7f;
  transition: color .3s ; 
}

.footerPrivatCabinet  {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 40px;
}

.footerPrivatCabinet i {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px; 
    color: #00bea5 ;
}

.footerPrivatCabinet i:hover {
    color:#035d51;
  transition: color .3s;
}


.subscription {
    padding-bottom: 2rem;
}


.subscription form {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.subscription input {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    min-height: 40px;
    border: 1px solid #00bea5;
    border-right: none; 
    background-color: transparent;
    font-size: .6rem; 
    padding: 0 1.22rem;
}


.subscription input[type="email"]:focus {
    background-color: transparent;
    color: #fff;
}


.subscription input[type="email"]:active {
    background-color: transparent;
    color: #fff;
}



.subscription input[type="email"] {
    color: #fff;
}

.subscription input[type="email"]::placeholder { 
    color: #fff;
}

.subscription input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}

.subscription input[type="email"]::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}

.subscription input[type="email"]:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}

.subscription input[type="email"]:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}


.subscription button {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    min-height: 40px;
    border: 1px solid #00bea5;
    border-left: none;
    background-color: #00bea5;
    text-transform: capitalize;
    font-size: .6rem;
    padding: 0 .3rem;
     cursor: pointer;
     color:#fff;
}



.subscription button:hover {
  background-color: #035d51;
  transition: background-color .3s;
}

.social {
    text-align: center;
   padding-bottom: 1.875rem;
}

.social li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}

.social li:last-of-type {
    margin-right: 0;
}

.fa-twitter:hover {
    color: #1da1f2;
    transition: color .8s;
}


.fa-facebook:hover {
    color: #3B5998;
    transition: color .8s;
}



.fa-youtube:hover {
    color: red;
    transition: color  .8s;
}


.fa-instagram:hover {
    background-image: linear-gradient(45deg, #f9ed32, #ee2a7b, #002aff);
     -webkit-background-clip: text;
    color: transparent;
    animation: instagramHoverAnimation 4s infinite;
}


.broduce {
    border-bottom: 1px solid #d4d4d4;
    font-size: 14px;
    color: #d4d4d4;
}

.broduce:hover {
    border-bottom: 1px solid #7f7f7f;
    color: #7f7f7f;
    transition: color background-color .3s;
}



/*---------------------------------------------slider------------------------------------------------------*/



.main-slider .slick-dots {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 0; 
}


.main-slider .slick-dots li {

position: relative;
bottom:30px;


 width: 13px;
 height: 13px;
 border-radius: 50%;
 border: 1px solid #00bea5;
 background-color: #00bea5;
 margin-right: 8px;
}


.main-slider .slick-dots .slick-active {
background-color: transparent;
}














@media screen and (min-width: 480px) {
    
    footer {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        background-color: #000;
    }


    .subscription button {
    font-size: .7rem;
    }

    .subscription input {
    font-size: .7rem;
    }

}







@media screen and (min-width: 768px){

    .top .content p {
        text-align: left;   
    }

    .top .content  {
        margin-left: 15px;
    }



    .headerLeft {
        margin-bottom: 0;
    }



    .headerLeft,.headerRight  {
        flex-wrap: nowrap;
    }

    
    .headerLeft {
   justify-content: flex-start;
   flex-basis:  70%;
   }

    .headerRight  {
    justify-content: flex-end;
    flex-basis:  30%;
   }

    .headerLeft form {
    margin-left: 20px;
   }



    footer {
        padding-top: 2.5rem;
        padding-bottom: 3.75rem;
        background-color: #000;
    }



    .Block {
        margin-bottom: 0px;
    }

    .Block a {
        font-size: 1rem;
    }

    .Block h5 {
        font-size: 1.375rem;
        text-align: left;
    }

     .subscription button {
    font-size: .75rem;
    }

    .subscription input {
    font-size: .75rem;
    }

    .subscription {
    padding-bottom: 4rem;
    }


    .social {
    text-align: left;
    padding-bottom: 7.1875rem;
    }


}

@media screen and (min-width: 992px) {
         .subscription button {
    font-size: 1rem;
    }

    .subscription input {
    font-size: 1rem;
    }
}
