* {
    font-family: "Gotham Rounded A", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #edeff0;
}

ul li a:hover {
    color: #5fcf80; 
    transition: color ease-out .3s ;
}

/*----------------------------CONTENT-------------------------------------------*/

.content {
    width: 75%;
    margin-left:  auto;
    margin-right: auto;
    font-size: 0;
}


.content:after {
    display: table;
    content: '';
    clear: both;
}


/*-------------------------HEADER------------------------------------------------*/

.header {
    display: block;
    background-color: #fff;
}

.logo {
    float: left;
    width: 150px;
}

.logo img {
    width: 100%;
}

.listReset {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.listReset a {
    text-decoration: none;
}

.menu {
    float: right;
    font-size: 0;
}

.menu li {
    display: inline-block;
    font-size: 1rem;
    margin-top: 3px;
    padding: 6px 8px;
}

.menu a {
    padding: 6px 6px;
    color: #717f86;
    text-transform: capitalize;
    text-decoration: none;
}

.menu li:last-of-type a {
    color: #5fcf80;
}

.menu li:last-of-type a:hover {
    background-color: #5fcf80;
    color: #fff;
    border: 2px solid #5fcf80;
    border-radius: 6px;
    transition: border .5s,color .3s ease-out .1s, background-color .4s .2s;
}


/*-------------------------HEADER------------------------------------------------*/








/*--------------------------------BLOCKS-----------------------------------*/


.midle_block {    
    background-image: url(../images/bg.png);
    width: 100%;
    height: auto;
    font-size: 0;
}


.left_midle {
    display: inline-block;
    width: 50%;
    font-size: 1rem;
    color: #fff;
    margin-top: 16px;
}


.right_midle {
    display: inline-block;
    width: 50%;
}

.right_midle,.left_midle {
    vertical-align: top;
}

.form_block {
    float: right;
     margin: 30px 30px; 
}

.treal_form {
    border: 2px solid #ffffff;
    border-radius: 8px;
    background-color: #ffffff;
}

.content_form {
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
    font-size: 0;
}

.head_form_block {
    background-color: #edeff0;
    padding:  15px 0;
}


.head_form p {
    color: #717f86;
    text-align: center;
}


.head_form span {
   color: #40484a 
}

.data_block {
    margin-top: 5px;
    background-color: #ffffff;
}



.lavel {
    display: block;
        color: #4b5658;
        font-size: .9rem;
    padding: .25rem 0;
}

.lavel_one {
    display: inline-block;
    width: 50%;
     color: #40484a;
}

.lavel_one label {
    display: block;
    color: #40484a;
    margin-bottom: .5rem;
}

.lavel_one input {
   display: block;
   width: 90%;
   margin-bottom: .9rem;
   background-color: #f9fafa;
   border: 2px solid #d4d9dd;
   border-radius: 4px;
}


.lavel_one  input:hover {
    border-color: #8c9aa6;
    transition: border-color ease-in-out .7s;
}


.footer_form {
    display: block;
    padding: 15px 15px;
    background-color: #edeff0;
}


.footer_form_button button {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #387bab;
    border-radius: 8px;
    background-color: #387bab;
}



.footer_form_button button:hover {
border-color: #2a5d81;
background-color:  #2a5d81;
transition: border-color,background-color ease-out .8s;
}

.footer_form  p {
      width: 90%;
 margin-left: auto;
   margin-right: auto;
    font-size: .9rem;
    color:#fff;
}

/*--------------------------------BLOCKS-----------------------------------*/




/*-------------------------FOOTER--------------------------------------------------*/
.footer {
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: 0;
    background-color: #fff;
}

.ferst,
.second,
.therd,
.social {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: 25%;
}

.footer ul a,
.therd a,
.second a {
    font-size: 1.3rem;
    color: #717f86;
    text-transform: capitalize;
}

.ferst {
    float: left;
}

.social {
    float: right;
}

.social {
text-align: right;
}

.footer .ferst a {
    display: inline-block;
    font-size: .9rem;
}

.social li {
    display: inline;
    margin-right: 2px;
}

.social a {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #2d3339;
}

 .social i {
    width: 100%;
    font-size: .9rem;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}
.social a:hover i {
    transition: color .5s .2s;
    color: #000;
}


.social a:hover {
    transition: background-color .3s;
    background-color: #5fcf80;
}

/*-------------------------FOOTER--------------------------------------------------*/
