*{
    box-sizing: border-box;
}

body {
    margin:0;
}

.accordion {
    width: 500px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    border: 2px solid;
}

.pink {
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 2px solid pink;
    border-color: pink;
    position: relative;
    left:20px;
    top: 30px; 
}

.blue {
    width: 90px;
    height: 80px;
    background-color: blue;
    border: 2px solid blue;
    border-color: blue;
    position: relative;
    left: 20px;
    top: 30px;

}

.brown {
    width: 85px;
    height:75px;    
    background-color: #652832;
    border: 2px solid #652832;
    border-color: #652832;
    position: relative;
    left:30px;
    top: 40px;
}


.accordion:hover {
    position: absolute;
}