*{
    font-size: 16px;
    box-sizing: border-box;
    margin:0;
}

body {
  
}
.content_center {
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.allProgramingLangwich {
    width: 95%;
    margin-right: auto;
    margin-left: auto;

}



.langwich {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    background-color: #222222;
    color: rgb(243, 243, 243);
    text-align: center;
    float: left;
    margin-right: 10px;
}


.langwich:last-of-type {
    margin-right: 0;
}

.langwich:after {
    display: table;
    content: '';
    clear: both;
}

.image {
    width: 90px;
    height: 90px;
}

.image img {
width: 100%;
height: auto;
}

.named_langwich {
    width: 75%;
    text-align: center;
    font-size: 0;
}

.named_langwich  p {
    font-size: 1rem;
}

.time {
    width: 88%;
    font-size: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #aaa;

}

.time p {
    font-size: .75rem;
}


.skill {
    width: 68%;
    font-size: 0;
}

.skill p {
    font-size: .70rem;
}

.button {
    width: 78%;
    height: 7%;
    font-size: 0;
    background-color: transparent;
    border: 1px solid #e80a89;
    border-radius: 3px;
}


.in_button {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}


.button a {
    text-decoration: none;
    font-size: .75rem;
    color:#bc1632;
}






























.accordion {
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    height: 163px;
    background-color: #fff;
    border: 2px solid;
    font-size: 0;
}


.pink {
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 2px solid pink;
    border-color: pink;
    position: relative;
}

.blue {
    width: 90px;
    height: 80px;
    background-color: blue;
    border: 2px solid blue;
    border-color: blue;
    position: relative;
    left: 50px;
    top: 40px;
    font-size: 0;

}

.brown {
    width: 85px;
    height:75px;    
    background-color: #652832;
    border: 2px solid #652832;
    border-color: #652832;
    position: relative;
    left:50px;
    top: 40px;
    font-size: 0;

}


.accordion:hover div {
    margin-left: auto;
    margin-right: auto;
    left:0;
    top:0;
    transition: left,top,margin-right,margin-left .4s;
}

.accordion:hover .pink {
top:25px;
} 

.accordion:hover .blue {
    top:8px;
}
