* {
    box-sizing: border-box;
}

body { 
    margin: 0;
}


.box {
    padding-top: 72px;
    padding-bottom: 76px;
    border-bottom: 1px solid #cdd1d0;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
}

.gridContainer {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 33.333333333333%;

}

.gridPropertis {
    display: block;
    padding: 15px 15px 45px 15px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.gridPropertis:hover {
    border: 1px solid #cdd1d0;
}

.gridPropertis p {
    display: block;
    padding-top: 25px;
}

.gridPropertis span {
    display: inline;
    font-size: 16px;
    border-bottom: 1px solid #d4d4d4;    
}

.elements {
    font-size: 0;
    padding-top: 76%;
    background-image:  url('../images/top/cover.jpeg');
    background-repeat:  no-repeat;
    background-position: center;
    background-size: contain;
}



 .middle .gridContainer {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 50%;
 }

.middle .gridPropertis span {
    text-transform: uppercase;
}

.middle .gridPropertis:hover {
    border: 1px solid rgba(0, 0, 0, 0);
}

.bottom .gridContainer {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    width: 25%;
 }

 .bottom .gridPropertis:hover {
    border: 1px solid rgba(0, 0, 0, 0);
}

.bottom .gridPropertis span {
    text-transform: uppercase;
}
