* {
   
    box-sizing: border-box;
}

body {
     margin: 0;
     background-color: #ebf1eb;
}

.header {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid red; 
}

.header:after {
display: table;
content: '';
clear: both;
}
 


.logo {
float: left;
width: 70px;
}

.logo img {
    width: 100%;
    margin-top: 20%;
    margin-left: 30%;
    margin-bottom: 1%;
    border:2px solid red;
    border-radius: 50%; 
}


.listReset {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.menu {
    float: right;
    margin: 4% 6%;
    font-size: 0;
}

.menu li {
    display: inline-block;
    font-size: 16px;
    list-style: none;
}

.menu a {
    padding: 6px 12px;
    color: red;
    text-transform: capitalize;
    text-decoration: none;
}

.menu li:last-of-type a {
    color: green;
}


.background {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 31, 128, 0.5294117647058824);
}


.background__block{
    display: inline-block;
    font-size: 0;
}

.text__inBlock {
    width: 60%;
    padding: 5px;
    margin: 10px;
    font-size: 16px;
    box-sizing: border-box;
}



.form__inBlock {
    width: 35%;
    font-size: 16px;
    padding: 120px;
    margin: 20px 10px;
    box-sizing: border-box;
    background-color: #d44518;
}
