* {
   
    box-sizing: border-box;
}

body {
     margin: 0;
}

.header {
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid red;
}


.master {
    display: inline-block;
}

.left {
margin-right: 60%;
}

.right {
margin-left: 10%;
}


.left,.right{
    vertical-align: middle;
}

.logo {
    display: block;
    width: 70px;
}

.logo img {
    width: 100%;
    border:2px solid red;
    border-radius: 50%; 
}


.menu{
    display: block;
}

.menu li {
    display: inline-block;
}




























































































































































header {
    display: inline-block;
}

.listReset {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.header__menu{
    width: 50%;
    border:1px solid red;
}

.menu  li {
    display: inline;
    list-style: none;
}

.menu a {
    text-decoration: none;
}



























