@font-face {
    font-family: "Arial";
    src: local("ArialBlack"), url("../fonts/ArialRegular/ArialRegular.woff");
}

@font-face {
    font-family: "Alco";
    src: url("../fonts/CoolFont/coolfont.otf");
}

@font-face {
    font-family: "Autos";
    src: url("../fonts/SpaceAge/spaceAge.otf");
}

@font-face {
    font-family: "Sport";
    src: url("../fonts/Inspiration/inspiration.ttf");
}

* {
    font-family: Arial;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

li a:hover {
    font-size: 20px;
    cursor: pointer;
}

a {
    color: #000;
}

header {
    display: inline;
    width: 100%;
}

header section {
    display: inline-block;
    margin: 3px 15px 3px 15px;
    width: 25%;
    height: 100%;
    border: 2px solid green;
}

.ferstSection h1 {
    color: red;
    font-family: Autos;
}

.ferstSection li a {
    color: #044015;
}

.secondSection h2 {
    color: green;
    font-family: Alco;
}

.secondSection li a {
    color: #009688;
}

.therdSection h3 {
    color: #9c27b0;
    font-family: Sport;
}

.therdSection li a {
    color: #00ffec;
}